.link-button{
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #b6bd67;
  text-decoration: none;
  border-style: dashed;
  border-color: #b6bd67;
  border-width: 2px;
  background-color: #1f1f1f;
  padding: 10px;
  transition: 0.3s;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.0) ;
  display: block;
  width: 80%;
  box-sizing: border-box;
  max-width: 200px;

}

.link-button:hover {
  border-color: rgb(226, 232, 155);
  background-color: rgb(31, 31, 31);
  box-shadow: 1px 1px 10px 5px rgba(240, 246, 173, 0.1) ;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.social-links {
  color: #b6bd67;
  font-size: 20px;
  transition: 0.3s;
  text-align: center;
  position: relative;
  padding: 0;
  margin: 1rem;
}

.social-links:hover{
  color: rgb(240, 245, 186);
}

.list-inline > li {
  display: inline-block;
}
