.project {
  background-color: rgba(40, 44, 52,.5);
  backdrop-filter: blur(2px);
  margin: 0;
  margin-bottom: 2rem;
  border-style: dashed;
  border-color: #7fa2be;
  border-width: 3px;
  box-shadow: 1px 1px 25px 1px rgba(240, 246, 173, 0.07) ;
  padding: 20px;
  transition: 1s;
  display: flex;
}

.project-picture {
  margin: 0;
  width: 150px;
  padding: 5px;
  border-color: #b6bd67;
  border-width: 2px;
  border-style: dashed;
  border-radius: 2px;
  box-shadow: 1px 1px 25px 1px rgba(240, 246, 173, 0.1) ;
}

.project h2 {
  font-size: 24px;
  margin: 0;
}

.project p {
  margin: 0;
  margin-top: 10px;
  line-height: 20px;
}

.project-info {
  margin-inline: 20px;
}
